<div class="intro">
  <%= render :partial => 'intro' %>

  <p class="indented"><%= link_to 'read more &raquo;'.html_safe, '/about' %></p>
</div>

<div class="feature_spot">
  <h1>Some Recent Subjects</h1>

  <%- @recent.each do |subject| -%>
    <h3 class="nowrap"><%= link_to subject.name.titleize, subject %>
          <span class="regular_text" ><%= truncate(subject.description, :length => 150) %></span></h3>
  <%- end -%>
</div>

<div class="feature_spot">
  <h1>Some Recent Submissions</h1>

  <%- @submissions.each do |sub| -%>
    <h3 class="nowrap"><%= link_to sub.subject.name, sub.subject %> > <%= link_to sub.name.titleize, sub %>
          <span class="regular_text" ><%= truncate(sub.description, :length => 150) %></span></h3>
  <%- end -%>
</div>

<div class="feature_spot">
  <h1>Some Random Subjects</h1>

  <%- @random.each do |subject| -%>
    <h3 class="nowrap"><%= link_to subject.name.titleize, subject %>
          <span class="regular_text" ><%= truncate(subject.description, :length => 150) %></span></h3>
  <%- end -%>
</div>
