<div class="intro">
  <%= render :partial => 'intro' %>

  <p class="indented"><%= link_to 'read more &raquo;'.html_safe, '/about' %></p>
</div>

<div class="feature_spot">
  <h2>Some Recent Subjects</h2>

  <%- @recent.each do |subject| -%>
    <h3 class="nowrap"><%= link_to subject.name.titleize, subject %>
          <span class="regular_text" ><%= truncate(subject.description, :length => 150) %></span></h3>
  <%- end -%>
</div>

<div class="feature_spot">
  <h2>Some Recent Submissions</h2>

  <%- @submissions.each do |resource| -%>
    <h3 class="nowrap"><%= link_to resource.subject.name, resource.subject %> > <%= link_to resource.name.titleize, subject_resource_path(resource.subject, resource) %>
          <span class="regular_text" ><%= truncate(resource.description, :length => 150) %></span></h3>
  <%- end -%>
</div>

<div class="feature_spot">
  <h2>Some Random Subjects</h2>

  <%- @random.each do |subject| -%>
    <h3 class="nowrap"><%= link_to subject.name.titleize, subject %>
          <span class="regular_text" ><%= truncate(subject.description, :length => 150) %></span></h3>
  <%- end -%>
</div>
