<div class="intro">
  <%= render :partial => 'intro' %>

  <p><%= link_to 'read more &raquo;'.html_safe, '/about' %></p>
</div>

<div class="feature_spot">
  <h1>Recent</h1>

  <%- @recent.each do |subject| -%>
    <h3><%= link_to subject.name.titleize, subject %>
          <span class="regular_text" ><%= truncate(subject.description, :length => 75) %></span></h3>
  <%- end -%>
</div>

<div class="feature_spot">
  <h1>Random</h1>

  <%- @random.each do |subject| -%>
    <h3><%= link_to subject.name.titleize, subject %>
          <span class="regular_text" ><%= truncate(subject.description, :length => 75) %></span></h3>
  <%- end -%>
</div>
