<div class="intro">
  <%= render :partial => 'intro' %>

  <p class="indented"><%= link_to 'read more &raquo;'.html_safe, '/about' %></p>
</div>

<div class="feature_spot">
  <h1>Some Recent Stuff</h1>

  <%- @recent.each do |subject| -%>
    <h3 class="nowrap"><%= link_to subject.name.titleize, subject %>
          <span class="regular_text" ><%= truncate(subject.description, :length => 150) %></span></h3>
  <%- end -%>
</div>

<div class="feature_spot">
  <h1>Some Random Stuff</h1>

  <%- @random.each do |subject| -%>
    <h3 class="nowrap"><%= link_to subject.name.titleize, subject %>
          <span class="regular_text" ><%= truncate(subject.description, :length => 150) %></span></h3>
  <%- end -%>
</div>
