<%- content_for :title, h(@subject.name.capitalize) -%>

<h2><%=h @subject.name.titleize %>
<%- if current_user_is_admin? %>
  <span style="font-size: 12px;"><%= link_to 'Edit Subject', edit_subject_path(@subject) %></span>
<%- end %></h2>

<p><%= @subject.description %></p>
<div id="tags">
  <%- if !@tags.empty? %>
    Tags:
    <%- @tags.each do |tag| %>
      <%= link_to tag.name.sub(' ', '_'), tag_path(tag) %>
    <%- end %>
  <%- else %>
    
  <%- end %>
</div>

  <h3>Prerequisites -- <%= link_to 'Submit', new_subject_prerequisite_path(@subject), :title => 'Suggest Prerequisite', :class => 'regular_text' %></h3>
<%= link_to_function 'show', 'toggle_prereqs()', :id => 'prereq_toggle_button' %>

<div id="prereqs" class="subsection">
  <%- if !@prerequisites.empty? -%>
    <ul>
      <%- @prerequisites.each do |prerequisite| -%>
        <li>
          <h3><%= link_to prerequisite.prereq.name.titleize, subject_path(prerequisite.prereq) %></h3>
          <p>
            <%- if current_user_is_admin? %>
              <%= link_to "destroy", subject_prerequisite_path(@subject, prerequisite), :method => 'delete'%>
            <%- end %>
          </p>
        </li>
      <%- end -%>
    </ul>
  <%- else -%>
    <p>No prerequisites yet for this subject. Create one by clicking 'submit' above.</p>
  <%- end %>
</div>

  <h3>Resources -- <%= link_to 'Submit', new_subject_resource_path(@subject), :title => 'Suggest Resource', :class => 'regular_text' %></h3>
<%= link_to_function 'hide', 'toggle_resources()', :id => 'resources_toggle_button' %>
<div id="resources" class="subsection">
  <%- if @resources.empty? %>
    <p>No resources yet for this subject. Create one by clicking on the 'submit' link above.</p>
  <%- else -%>
    <%- @resources.each do |resource| -%>
      <div class="resource">
        <div class="votes">
          <div class="net_votes"><%= resource.netvote_count %></div>
          <div class="up_votes">
            <%= link_to resource.upvote_count, upvote_subject_resource_path(@subject, resource) %>
          </div>
          <div class="down_votes">
            <%= link_to resource.downvote_count, downvote_subject_resource_path(@subject, resource) %>
          </div>
        </div>

        <div class="info">
          <h3><%= link_to resource.name.titleize, resource.uri %>
          <!-- <div class="percent_whole">
            <div class="percent_part" style="width: <%=resource.percent_upvote %>%"></div>
          </div> -->
            <span style="font-size: 16px;">
              <div class="actions">
                <%= link_to '+ more', subject_resource_path(@subject, resource) %>
                --
                <%= link_to resource.user.login, user_path(resource.user) %>
                <%= resource.created_at.strftime('%m/%d/%y') %>
                <%- if current_user_is_admin? %>
                |
                <%= link_to 'edit', edit_subject_resource_path(@subject, resource) %>
                |
                <%= link_to 'destroy', subject_resource_path(@subject, resource), :method => :delete %>
                <%- end %>
              </div>
            </span>
          </h3>
        </div>

        <div class="clear"></div>
      </div>
    <%- end %>
  <%- end -%>
</div>


<!--<div id="aux">
  <%- if !@prerequisites.empty? -%>
    <h4>Prerequisites:</h4>

    <ul>
      <%- @prerequisites.each do |prerequisite| -%>
        <li>
          <%= link_to prerequisite.prereq.name, subject_path(prerequisite.prereq) %>
          <%- if current_user %>
          <%= link_to "destroy", subject_prerequisite_path(@subject, prerequisite), :method => 'delete'%>
          <%- end %>
        </li>
      <%- end -%>
    </ul>
  <%- end -%>

  <%- if current_user %>
  <h4>Page Actions:</h4>
  <ul>
    <li><%= link_to 'Add resource', new_subject_resource_path(@subject) %></li>
    <li><%= link_to 'Add prerequisite', new_subject_prerequisite_path(@subject) %></li>
    <li><%= link_to 'Edit subject', edit_subject_path(@subject) %></li>
  </ul>
  <%- end %>
</div>
-->
