<%- content_for :title, h(@subject.name.capitalize) -%>

<h2><%=h @subject.name.titleize %></h2>
<%- if current_user_is_admin? %>
  <%= link_to 'edit this subject', edit_subject_path(@subject) %>
<%- end %>
<p><%= @subject.description %></p>
<div id="tags">
  <%- if !@tags.empty? %>
    Tags:
    <%- @tags.each do |tag| %>
      <%= link_to tag.name, tag_path(tag) %>
    <%- end %>
  <%- else %>
    
  <%- end %>
</div>

<div class="feature_spot">
  
  <h3>Resources <%= link_to '+', new_subject_resource_path(@subject), :title => 'Suggest Resource' %></h3>
  <%- if @resources.empty? %>
    <p>No resources yet for this subject. Create one with that + right above.</p>
  <%- else -%>
    <%- @resources.each do |resource| -%>
      <div class="resource">
        <div class="votes">
          <div class="net_votes"><%= resource.netvote_count %></div>
          <div class="up_votes">
            <%= link_to resource.upvote_count, upvote_subject_resource_path(@subject, resource) %>
          </div>
          <div class="down_votes">
            <%= link_to resource.downvote_count, downvote_subject_resource_path(@subject, resource) %>
          </div>
        </div>

        <div class="info">
          <h3><%= link_to resource.name.titleize, resource.uri %></h3>
          <div class="percent_whole">
            <div class="percent_part" style="width: <%=resource.percent_upvote %>%"></div>
          </div>
          <p><%= truncate(resource.description, :length => 100) %></p>
          <div clas="actions">
            <%= link_to '+ more', subject_resource_path(@subject, resource) %>
            --
            <%= link_to resource.user.login, user_path(resource.user) %>
            <%= resource.created_at.strftime('%m/%d/%y') %>
            <%- if current_user_is_admin? %>
            |
            <%= link_to 'edit', edit_subject_resource_path(@subject, resource) %>
            |
            <%= link_to 'destroy', subject_resource_path(@subject, resource), :method => :delete %>
            <%- end %>
          </div>
        </div>

        <div class="clear"></div>
      </div>
    <%- end %>
  <%- end -%>
</div>

<div class="feature_spot feature_spot_right">
  <h3>Prerequisites <%= link_to '+', new_subject_prerequisite_path(@subject), :title => 'Suggest Prerequisite' %></h3>
  <%- if !@prerequisites.empty? -%>
    <ul>
      <%- @prerequisites.each do |prerequisite| -%>
        <li>
          <h3><%= link_to prerequisite.prereq.name.titleize, subject_path(prerequisite.prereq) %></h3>
          <p>
            <%= truncate(prerequisite.prereq.description, :length => 100) %> 
            <%- if current_user_is_admin? %>
              <%= link_to "destroy", subject_prerequisite_path(@subject, prerequisite), :method => 'delete'%>
            <%- end %>
          </p>
        </li>
      <%- end -%>
    </ul>
  <%- else -%>
    <p>No prerequisites yet for this subject. Create one with that + right above.</p>
  <%- end %>
</div>

<!--<div id="aux">
  <%- if !@prerequisites.empty? -%>
    <h4>Prerequisites:</h4>

    <ul>
      <%- @prerequisites.each do |prerequisite| -%>
        <li>
          <%= link_to prerequisite.prereq.name, subject_path(prerequisite.prereq) %>
          <%- if current_user %>
          <%= link_to "destroy", subject_prerequisite_path(@subject, prerequisite), :method => 'delete'%>
          <%- end %>
        </li>
      <%- end -%>
    </ul>
  <%- end -%>

  <%- if current_user %>
  <h4>Page Actions:</h4>
  <ul>
    <li><%= link_to 'Add resource', new_subject_resource_path(@subject) %></li>
    <li><%= link_to 'Add prerequisite', new_subject_prerequisite_path(@subject) %></li>
    <li><%= link_to 'Edit subject', edit_subject_path(@subject) %></li>
  </ul>
  <%- end %>
</div>
-->
